body {
    background-image: url('imagenes/ipomeaindica.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #333;
    font-family: Arial, sans-serif;
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

h2 {
    color: #6c63ff;
    font-weight: bold;
}

.btn-primary {
    background-color: #6c63ff;
    border: none;
}

.btn-primary:hover {
    background-color: #574fba;
}

.img-fluid {
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
