.footer {
    background: linear-gradient(135deg, #6a0dad, #d28aff); /* Degradado de lila oscuro a un tono lila claro */
    color: white;
    padding: 40px 0;
    font-size: 0.9rem;
    text-align: center;
}

.footer-logo-container {
    text-align: center;
    margin-bottom: 20px;
}

.footer-logo {
    max-width: 120px;
    height: auto;
}

.footer-description {
    font-family: 'Playfair Display', serif; /* Aplica la tipografía de los h1 */
    font-size: 1.rem; /* Ajusta el tamaño según prefieras */
    font-weight: 100; /* Ajusta el peso de la fuente */
    color: #fff;
    text-align: center;
    margin-top: 15px;
}

.footer h6 {
    color: #ffc107;
    font-weight: bold;
    margin-bottom: 15px;
}

.footer a {
    color: #ccc;
    text-decoration: none;
    font-size: 0.9rem;
}

.footer a:hover {
    color: #fff;
}

.social-icons a {
    display: inline-block;
    margin-right: 10px;
    color: #ccc;
    font-size: 1.2rem;
}

.footer .form-control {
    border-radius: 20px;
    max-width: 250px;
}

.footer .btn-primary {
    border-radius: 20px;
    background-color: #ffc107;
    border: none;
    color: #333;
}

.footer .btn-primary:hover {
    background-color: #ff9800;
    color: white;
}

.row.justify-content-center .col-md-2,
.row.justify-content-center .col-md-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.social-icons a {
    display: inline-block;
    margin-right: 10px;
    color: #ccc;
    font-size: 1.2rem;
}

.footer .col-md-3 .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

.footer h6 {
    font-family: 'Playfair Display', serif; /* Cambia a la fuente deseada */
    font-weight: 700; /* Ajusta el peso de la fuente si es necesario */
    color: #ffc107;
    margin-bottom: 15px;
}






