


.card-img-top {
            width: 18rem;
            width: 100%;
            height: auto; /* Mantiene la proporción de la imagen */
            object-fit: cover; /* Asegura que la imagen cubra el contenedor si es necesario */
        }

.card {
    
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); /* Sombra más intensa */
    transition: box-shadow 0.3s ease-in-out; /* Transición suave al pasar el mouse */
    border-radius: 30px !important;
    overflow: hidden; /* Asegura que las imágenes se ajusten al borde redondeado */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición suave para la escala y la sombra */
}

.card:hover {
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.5); /* Sombra más fuerte al pasar el mouse */
            transform: scale(1.05); /* Aumenta el tamaño al 105% */
}


.container img {
align-self: center;
max-width: 200px;
height: auto;
border-radius: 15px;
}

.container img:hover {
    transform: scale(1.2); /* Ajusta el valor de escala para reducir el tamaño al pasar el mouse */
    transition: transform 0.3s ease-in-out; /* Añade una transición suave para el cambio de tamaño */
}


.container {
    text-align: center; /* Centra el contenido inline-block */
}



.destacadoscaja {
    position: relative; /* Necesario para el posicionamiento del pseudoelemento */
    padding: 20px;
    z-index: 1;
    text-align: center;

}

.destacadoscaja::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('imagenes/fondoeditado.png'); /* Ruta de la imagen */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: ; /* Controla la opacidad aquí, ajusta según lo que desees */
    z-index: -1; /* Envía el fondo detrás del contenido */
}

.destacadoscaja h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 700; /* Puedes ajustar el peso si prefieres un estilo diferente */
  color: #ffffff;
}






.banerinfo  {
  background-color: #E8B0E0;
  background-image: url('https://i.imgur.com/1vCulkz.jpeg');
  background-size: cover; 
  background-position: center; 
  
}







.grid.text-center {
  background-color: #b7dcc5; 
}


.carousel-control-prev .material-symbols-outlined,
.carousel-control-next .material-symbols-outlined {
  font-size: 60px; 
  color: white; /* Cambiado de #white a solo 'white' */
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #9a2edb; 
  width: 100px; 
  height: 100px; 
  
  fill: red; 
  border-radius: 50%;
}


.carousel-caption h5 {
  font-size: 4rem; 
  font-weight: bold; 
  color: #ffffff; 
  border-radius: 15px; 
  background-color: rgba(0, 0, 0, 0.4); 
  padding: 10px; 
  display: inline-block; 
  
}

.carousel-caption p {
  font-size: 1.5rem; 
  font-weight: bold; 
  color: #ffffff; 
  border-radius: 15px; 
  background-color: rgba(0, 0, 0, 0.4); 
  padding: 10px; 
  display: inline-block; 
  
}







.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


.corazon button {
  border-radius: 50%; 
  background-color: #9a2edb; 
  border-color: #fff; 
  color: #fff; 
  width: 40px; 
  height: 40px;
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.corazon button:hover {
  background-color: #c263f9; 
  border-color: #fff; 
}

.carrito button {
  border-radius: 50%; 
  background-color: #9a2edb; 
  border-color: #fff; 
  color: #fff; 
  width: 40px; 
  height: 40px;
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.carrito button:hover {
  background-color: #c263f9; 
  border-color: #fff; 
}

.search-container .boton-lupa {
  border-radius: 50%; 
  background-color: #9a2edb; 
  border-color: #2E8B57; 
  color: #FFFFFF; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  width: 40px; 
  height: 40px;
  
}

.search-container .boton-lupa:hover {
  background-color: #c263f9; 
  border-color: #3CB371; 
}


.search-container {
  margin-right: 20px; 
}

.corazon {
  margin-right: 20px; 
}

.carrito {
  margin-right: 20px; 
}



.logoipomea {
  max-width: 150px;
  height: auto;

  }


.navbar {
background-color: #fff;
  height: 80px;
  margin: 20px;
  border-radius: 16px;
  padding: 0.5rem;
  

  }
  
.navbar-brand {
  font-weight: 500;
  color: #c263f9;
  font-size: 24px;
  transition: 0.3s color;
  

}

.login-button {
  background-color: #000000;
  color: #fff;
  font-size: 14px;
  padding: 8px 20px;
  border-radius: 50px;
  text-decoration: none;
  transition: 0.3s background-color;
  margin-right: 15px; /* Añadimos este margen para separar del menú hamburguesa */
  
 
}

.login-button:hover {
  background-color: #d58cfc;
  }

.navbar-toggler {
border: none;
font-size: 1.25rem;  
}

.navbar-toggler:focus, .btn-close:focus {
box-shadow: none;
  outline: none;
  
}

.nav-link {
color: #666777;
  font-weight: 500;
  position: relative;

  }

.nav-link:hover, .nav-link.active {
  color: #000;

}

@media (min-width: 991px) {
.nav-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
transform: translateX(-50%);
  width: 100%;
  height: 2px;
  background-color: #c263f9;
  visibility: hidden;
  transition: 0.3s ease-in-out;
  }

.nav-link:hover::before, .nav-link.active::before {
  width: 100%;
  visibility: visible;
  }
}

.hero-section {
  background: url(https://i.imgur.com/5WaahJQ.jpeg) no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100vh;

  }

.hero-section::before {
background-color: rgba(0, 0, 0, 0.6);
  content: "";
position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  
  }

.divdestacados {
    text-align: center; /* Asegura que el texto dentro del div esté centrado */
    margin: 0 auto; /* Centra el div en sí mismo */
    padding: 10px;
    background-color: transparent; /* Blanco con opacidad del 80% */
    border-radius: 15px; /* Bordes redondeados */
    border: none; /* Elimina los bordes */
    display: inline-block; /* Se adapta al tamaño del contenido */
}


/* Footer */
.footer {
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Desaparecer el corazón, carrito y buscador al mismo tiempo y mostrar el menú hamburguesa */
@media (max-width: 1200px) {
  .corazon, 
  .carrito, 
  .search-container {
    display: none; /* Ocultar el corazón, carrito y buscador */
  }

  .navbar-toggler {
    display: block; /* Mostrar el menú hamburguesa */
  }
}



.hidden {
  display: none; /* Oculta elementos */
}

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100; /* Asegura que esté por encima de todo al cargar */
}

.circle {
  width: 50px;
  height: 50px;
  border: 5px solid #1fff39; 
  border-top: 5px solid #2e34f5; 
  border-radius: 50%;
  animation: spin 1s linear infinite; /* Animación de giro */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.ad-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 101; /* Justo por debajo del loading screen */
}

.ad-content {
  text-align: center;
  color: white;
  font-size: 24px;
  padding: 20px;
  border: 2px solid #fff;
  position: relative;
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  color: white;
  font-size: 32px;
  border: none;
  cursor: pointer;
  z-index: 102;
}




/* Estilo del pop-up */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 102;
}

.popup-content {
  text-align: center;
  color: black;
  background-color: #fbff29; 
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #fff;
}

.popup-image {
  max-width: 100%; 
  height: auto;
  margin-bottom: 15px;
}

/* Estilo del banner de cookies */
.cookie-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  background-color: rgb(183, 1, 1, 0.8); 
  color: white;
  padding: 20px;
  text-align: center;
  z-index: 104;
}

.cookie-banner button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

/* Encuesta */

.encuesta-container {
  background: linear-gradient(135deg, #d8e3e7, #e0c3fc);
  color: #333;
  padding: 40px 20px;
  text-align: center;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.encuesta-container h2 {
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  color: #6a0dad;
}

.encuesta-container p {
  font-size: 1rem;
  color: #555;
  margin-bottom: 20px;
}

.opciones-colores {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.opcion-color {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
}

.imagen-color {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  margin-bottom: 8px;
  transition: transform 0.2s;
}

.imagen-color:hover {
  transform: scale(1.1);
}

.boton-enviar {
  background-color: #6a0dad;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s;
}

.boton-enviar:hover {
  background-color: #8a3dbf;
}

.mensaje-error {
  color: red;
  font-size: 0.9rem;
  margin-top: 10px;
  display: none;
}

.imagen-color {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  margin-bottom: 8px;
  transition: transform 0.2s;
  object-fit: cover; /* Asegura que la imagen mantenga su proporción dentro del círculo */
}

.mensaje-exito {
  color: green;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 20px;
}


/* final encuesta */


/* polinizar */

.video-explicativo {
  position: relative;
  text-align: center;
  padding: 40px 20px;
  background: url('imagenes/fondoblancasok.jpg'); /* Solo la imagen de fondo */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* Asegura que el overlay siga el borde redondeado */
}


.video-explicativo h2 {
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  color: #ffffff;
  margin-bottom: 20px;
}

.contenedor-video {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.video-ipomea {
  width: 100%;
  max-width: 450px; /* Ajuste de tamaño máximo para pantallas grandes */
  height: auto;
  border-radius: 20px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.8); /* Sombra oscura para resaltar el video */
}

.imagen-lateral {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.imagen-izquierda {
  order: -1;
}

.imagen-derecha {
  order: 1;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .contenedor-video {
      flex-direction: column;
  }
  .video-ipomea {
      max-width: 90%;
      background-size: contain; /* Ajusta el fondo para pantallas pequeñas */
  }
  .imagen-lateral {
      width: 60px;
      height: 60px;
  }

}


/* polinizar */

/* carrousel categorias */

.categorias-carrusel {
  text-align: center;
  padding: 40px 20px;
  background: #f8f9fa;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.categorias-carrusel h2 {
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

.carrusel-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 900px;
}

.carrusel-container {
  overflow: hidden;
  width: 80%;
  max-width: 900px;
  display: flex;
  justify-content: center;
}

.carrusel {
  display: flex;
  transition: transform 0.5s ease;
  gap: 15px;
}

.categoria-item {
  flex: 0 0 30%; /* Limita el ancho de cada categoría a un tercio */
  max-width: 250px;
  text-align: center;
  box-sizing: border-box;
}

.categoria-item img {
  width: 100%;
  aspect-ratio: 4 / 5;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  object-fit: cover;
  max-height: 300px;
}

.categoria-item h3 {
  font-size: 1rem;
  margin-top: 8px;
  color: #555;
}

.carrusel-btn {
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  color: #333;
  margin: 0 10px;
}

/* Ajuste responsivo para pantallas medianas */
@media (max-width: 768px) {
  .carrusel-container {
      width: 100%;
  }
  .categoria-item {
      flex: 0 0 45%; /* Muestra 2 categorías en pantallas medianas */
      max-width: 200px;
  }
}

/* Ajuste responsivo para pantallas pequeñas */
@media (max-width: 480px) {
  .carrusel-container {
      width: 100%;
  }
  .categoria-item {
      flex: 0 0 70%; /* Muestra 1 categoría en pantallas pequeñas */
      max-width: 160px;
  }
}




/* carrousel categorias */













 







